<div layout="row">

    <md-sidenav class="Sidebar md-sidenav-left md-whiteframe-z2" md-component-id="left"
                md-is-locked-open="$mdMedia('gt-md')" tabindex="-1">
        <md-toolbar class="md-warn">
            <div class="md-toolbar-tools">
                <h2 class="md-flex">Toolbar: md-warn</h2>
            </div>
        </md-toolbar>

        <md-content class="Sidebar-pages md-default-theme" ui-view="" ng-controller=""></md-content>
    </md-sidenav>

    <div flex role="main" layout="column" tabindex="-1">
        <md-toolbar class="md-warn">
            <div class="md-toolbar-tools">
                <h2 class="md-flex">Toolbar: md-warn</h2>
            </div>
        </md-toolbar>

        <!--<md-toolbar class="Header md-accent md-whiteframe-z1" layout="column">
            <div ui-view="header" ng-controller=""></div>
        </md-toolbar>-->

        <md-content layout="column" flex md-scroll-y>
            <div ui-view="" class="Page">md content</div>
        </md-content>

        <md-toolbar class="footer md-accent md-whiteframe-z1" layout="column">
            <div ui-view="" ng-controller="">footer</div>
        </md-toolbar>
    </div>

</div>