<div layout="row">

    <md-sidenav class="Sidebar md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" tabindex="-1">

        <!-- Sidebar menu items -->
        <md-content class="Sidebar-pages md-default-theme" ui-view="" ng-controller="SidebarCtrl"></md-content>
    </md-sidenav>

    <div flex role="main" layout="column" tabindex="-1">
        <md-toolbar class="Header md-accent md-whiteframe-z1" layout="column">
            <div ui-view="header" ng-controller=""></div>
        </md-toolbar>

        <md-content layout="column" flex md-scroll-y>
            <div ui-view="main" class="Page"></div>
        </md-content>

        <md-toolbar class="footer md-accent md-whiteframe-z1" layout="column">
            <div ui-view="footer" ng-controller=""></div>
        </md-toolbar>
    </div>

</div>